#display {
    margin-left: 5%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
}

#form {
    display:flex;
    border: 1px solid grey;
    padding: 2%;
    border-radius: 25px;
}

#form-container {
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    text-align: center;
}

.left {
    margin: 0;
    width: max-content;
}

p#weather-description {
    font-size: x-large;
}

p#city {
    font-size: 400%;
}

p#temperature {
    font-size: 700%;
}

.right {
    width: max-content;
    font-size: xx-large;
}

#left {
    padding-right: 5%;
    width: 100%;
}

#right {
    padding-left: 5%;
    width: 100%;
    border-left: solid;
}

#error {
    color: red;
    font-size: x-large;
}

#text {
    font-size: x-large;
    text-align: center;
    width: 90%;
    float: right;
    border: none;
}

#submit {
    font-size: x-large;
    background-image: url(https://img.icons8.com/pastel-glyph/2x/search--v2.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    background-color: transparent;
    border: none;
}