.clear {
    background: url("../img/clearsky.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rain {
    background: url("../img/rain.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.thunder {
    background: url("../img/thunder.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.snow {
    background: url("../img/snow.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mist {
    background: url("../img/mist.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#form {
    display:flex;
    border: 2px solid;
    padding: 2%;
    border-radius: 25px;
}



#error {
    color: red;
    font-size: x-large;
}

#text {
    font-size: x-large;
    text-align: center;
    width: 90%;
    float: right;
    border: none;
    background: transparent;
    outline: none;
}

#submit {
    font-size: x-large;
    background-image: url(https://img.icons8.com/pastel-glyph/2x/search--v2.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    background-color: transparent;
    border: none;
}

#radio-container {
    float: left;
    margin: 5%;
    font-size: x-large;
}

::placeholder {
    color: black;
}

#form-container {
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    text-align: center;
}


#display {
    margin-left: 5%;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 10%;
}

.left {
    margin: 0;
    width: max-content;
}

.right {
    width: max-content;
    font-size: x-large;
}

#left {
    padding-right: 5%;
    width: 100%;
    align-self: center;
    border-right: solid ;
}

#right {
    padding-left: 5%;
    width: 100%;
}

p#weather-description {
    font-size: x-large;
}

p#city {
    font-size: 400%;
}

p#temperature {
    font-size: 700%;
}

#under {
    display: flex;
}